PORT=8080
DATABASE_URL=
# NEON_URL=

JWT_SECRET=14941ad0e8eff13690b6efaea70d79146f4e1be5a814d6a366ef8e8572668d7d

JUDGE0_API_URL=

CORS_ORIGIN=http://localhost:5173
NODE_ENV=development

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
